.homePage{
    background-color: #FEFEFE;
    width: 100%;
    height: 100%;
    display: flex;
    
    .homePage__containerCards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.3em;
        padding: 1em;
    }


    .aside{
        width: 16em;
        height: 100%;
        

        .aside__container{
            width: 100%;
            height: 100%;
            padding: 2em 1em;
           
           .aside__section{
                display: flex;
                width: 100%;
                
                .aside__input{
                    padding: .5em;
                    text-transform: capitalize;
                    outline: none;
                    border: 1px solid #ccca;
                    border-radius: 5px 0 0 5px;
                }
                
                .aside__button{
                    display: block;
                    padding: .5em;
                    background-color: #D35451;
                    border-radius: 0 5px 5px 0;
                    color: white;
                    border: none;
                    cursor: pointer;
                }
            }

            .aside__title{
                padding: 1em 0;
                text-align: center;
            }
        }
    }
}

@media (max-width: 450px){

    .homePage{
        display: block;

        .aside{
            position: relative;
            height: 100%;
            
            .aside__openTag{
                position: fixed;
            top: 10px;
            left: 10px;
            .aside__icon{
                font-size: 2em;
            }
        }
        .aside__container{
            position: fixed;
            transition: ease .5s;
            height: 100vh;
            width: 18em;
            background-color: #FEFEFE;
            box-shadow: 5px 5px 5px #ccca;
            
            .aside__closeTag{
                font-size: 1.5em;
                position: absolute;
                top: 10px;
                right: 20px;
                color: red;
            }

            .aside__section{
                margin-top: 1.5em;
            }
        }

        .aside-true{
            left: 0;
            top: 0;
        }

        .aside-false{
            top: 0;
            left: -1000%;
        }
    }

    .homePage__containerCards{
        margin: auto;
    }
    }
}