.filter{


    .filter__tittle{
        font-size: 1.1em;
        padding: .3em 1em;
    }

    .filter__list{
        list-style: none;

        .filter__item{
            font-size: .9em;
            padding: .5em 0;
            cursor: pointer;
            width: 7em;
            align-items: center;
        }
    }
}