.reserve{
  padding: 2.5em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .reserve__modal--open{
    scale: 1;
  }

  .reserve__modal--close{
    scale: 0;
  }

  .reserve__tittle{
    color: #D35451;
  }

  .reserve__form{
    
    .reservation__modal{
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      background-color: rgb(35, 173, 35);
      margin: .5em;
      width: 100%;
      height: 2em;
    
    }

    .reserve__label{
      display: inline-block;
      width: 15em;
      margin: 1em 1em 1em 0;

      .reserve__span{
        display: flex;
        justify-content: center;
        font-weight: 500;
        padding-bottom: .3em;
      }

      .reserve__input{
        width: 100%;
        padding: .2em 1.5em;
        outline: none;
        border: 1px solid #ccca;
      }
    }

    .reserve__button{
      display: block;
      margin: auto;
      padding: .4em;
      width: 10em;
      border-radius: 8px;
      border: 1px solid #ccca;
      background-color: #D35451;
      color: white;
      outline: none;
      cursor: pointer;

      &:hover{
        background-color: #e23431;
      }
    }
  }



}

@media (max-width: 450px){
  .reserve{
    
    .reserve__form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .reservation__modal{
        width: 15em;
        .reservation__modal--text{
          font-size: .6em;
        }
      }
      
    }

  }
}